* {
    text-decoration: none;
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background-color: white;
    height: 100px;
    width: 100%;
    display: flex;
    position: fixed;
    padding: 1rem;
    justify-content: center;
    z-index: 3;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%
}

nav ul .left-nav li {
    margin-right: 50px;
}

nav ul .left-nav {
    display: inline-flex;
    margin-top: 10px;
    margin-left: 7rem;
    font-size: 1.25rem;
    font-weight: 450;
}

nav ul .right-nav {
    display: inline-flex;
    margin-top: 10px;
    margin-right: 7rem;
    font-size: 1.25rem;
    font-weight: 450;
}

nav label {
    display: inline-flex;
    position: absolute;
    font-size: 1.75rem;
    height: 1rem;
    letter-spacing: 8px;
    font-weight: 500;

}

nav label a {
    color: black;
    display: inline-flex;
    align-items: center;
    margin-top: 15px;
}

nav label a img {
    width: 40px;
    display: inline-flex;
}

nav ul li a {
    color: black
}


main .hook img {
    position: relative;
    width: 100%;
    height: 725px;
    margin-top: 6.2rem;
}

main .hook .img-text-a {
    position: absolute;
    color: white;
    top: 17rem;
    z-index: 2;
    margin-left: 5rem;
    font-family: serif;
    font-size: 25px;
    overflow: hidden;
}

main .hook .img-text-b {
    position: relative;
    color: white;
    top: -15rem;
    z-index: 2;
    float: right;
    font-family: serif;
    font-size: 25px;
    overflow: hidden;
    margin-right: 40px;
}

main .about_section {
    margin-left: 8rem;
    margin-right: 8rem;
    margin-top: 5rem;
}

main h1{
    font-size: 45px;
    font-weight: 400;
}

main hr {
    width: 55%;
    margin-top: 1rem;
    border-bottom: 4px solid black;
}

main .about_section .about-content1 {
    margin-top: 4.5rem;
    margin-left: 4rem;
    font-size: 1.31rem;
}

main .about_section .about-content2 {
    font-size: 1.31rem;
    margin-top: 65px;
}

main .about_section .about-content2 .about-text2 {
    margin-bottom: 45px;
}

main .about_section .about-left-img  img {
    width: 25rem;
    float: left;
    margin-top: 4.5rem;
    margin-right: 7rem;
}

main .about_section .about-right-img img {
    width: 35rem;
    float: right;
    transform: rotateY(180deg);
    margin-top: -47rem;
}

main .products_section {
    margin-left: 8rem;
    margin-right: 8rem;
    margin-top: 8rem;
}

main .products_section .products-content {
    margin-top: 7rem;
    display: grid;
    grid-template-areas: 
    "top-left top-mid top-right"
    "mid-left mid mid-right"
    "bot-left bot-mid bot-right";
    justify-content: space-between;
}

main .products_section .products-content ul li img {
    width: 22rem;
    height: 20rem;
}

main .products_section .products-content .asd {
    margin-left: 92px;
}

main .products_section .products-content hr {
    width: 75%;
    margin-top: 1rem;
    border-bottom: 4px solid black;
}

main .products_section .products-content .product-name {
    display: flex;
    margin-top: 1rem;
    font-size: 25px;
    font-weight: 450;
}

main .products_section .products-content .product-disc {
    margin-top: 1rem;
    font-size: 19px;
}

main .products_section .products-content .buttons {
    display: flex;
    margin-top: 1rem;
    font-size: 19px;
}

main .products_section .products-content .buttons .dsa {
    margin-left: 9rem;
    color: #BF7631;
}

main .products_section .products-content .buttons .wer {
    color: #BF7631;
    text-decoration: underline;
}

main .products_section .products-content .product-1 {
    margin-bottom: 10rem;
}

main .products_section .products-content .product-4 {
    margin-bottom: 10rem;
}

main .contact_section {
    margin-left: 8rem;
    margin-right: 8rem;
    margin-top: 8rem;
}

main .contact_section .contact-content {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    font-size: 25px;
}

main .contact_section .contact-content .field1 {
    width: 75rem;
    height: 3rem;
}

main .contact_section .contact-content .field2 {
    width: 75rem;
    height: 12rem;
}

main .contact_section .contact-content ul button {
    margin-top: 5rem;
    float: right;
    width: 10rem;
    height: 3rem;
    font-size: 20px;
    background-color: #BF7631;
    color: white;
    border: none;
    margin-bottom: 8rem;
}

footer {
    width: 100% auto;
    height: 12rem;
    background-color: #BF7631;
}

footer ul .footer-content {
    display: flex;
    justify-content: space-between;
}

footer ul .footer-content li {
    display: inline;
    margin-top: 2rem;
    margin-left: 12rem;
    margin-right: 12rem;
}

footer ul .footer-content .footer-logo {
    display: flex;
}

footer ul .footer-content li label {
    font-size: 2rem;
    height: 1rem;
    letter-spacing: 8px;
    font-weight: 500;
}

footer ul .footer-content li label img {
    width: 85px;
}

footer ul .footer-content li img {
    width: 85px;
}

footer .fine-print {
    display: inline-flex;
    float: right;
}

footer .fine-print {
    margin-top: 1rem;
}

footer .fine-print .tyu {
    margin-right: 20rem;
}

footer .fine-print .uyt {
    margin-right: 10rem;
}

footer .fine-print .copyright {
    margin-right: 2rem;
}