header {
    background-color: white;
    overflow: hidden;
    position: relative;
    padding: 2rem;
}

nav {
    display: grid;
    margin-top: 1rem;
}

nav a {
    display: flexbox;
    text-decoration: none;
    margin-right: 1rem;
}

.search-bar {
    display: inline;
}

.search-bar img{
    width: 22px;
}